### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [12]:
df1 = df["SN"].nunique()
PlayerCount = {
    "TotalPlayers":[df1]
        }
PlayerCountdf = pd.DataFrame(PlayerCount)
PlayerCountdf

   TotalPlayers
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Purchasing Analysis (Total)

df2=df["Item Name"].nunique()
df3=df["Price"].mean()
df4=df["Age"].count()
df5=df["Price"].sum()

purchasingAnalysis = {
    "NumberofUniqueItems": [df2], 
    "AvgPurchasePrice": [df3], 
    "TotalNumberofPurchases": [df4],
    "TotalRevenue": [df5]
}
purchasingAnalysisdf = pd.DataFrame(purchasingAnalysis)

purchasingAnalysisdf

#cleaner formatting

purchasingAnalysisdf['AvgPurchasePrice'] = purchasingAnalysisdf['AvgPurchasePrice'].map('${0:,.2f}'.format)
purchasingAnalysisdf['TotalRevenue'] = purchasingAnalysisdf['TotalRevenue'].map('${0:,.2f}'.format)
purchasingAnalysisdf

  AvgPurchasePrice  NumberofUniqueItems  TotalNumberofPurchases TotalRevenue
0            $3.05                  179                     780    $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [118]:
#Gender Demographics

df6 = pd.DataFrame(df.drop_duplicates(["SN"]))

df7 = df6.groupby(["Gender"])

genderDemographics = {
    
    "TotalCount":df7["Gender"].count(),
    "PercentageofPlayers":df7["Gender"].count()/df1*100
}

genderDemographicsdf = pd.DataFrame(genderDemographics)

genderDemographicsdf["PercentageofPlayers"] = genderDemographicsdf["PercentageofPlayers"].map("{:.2f}%".format)
genderDemographicsdf.head()

                      PercentageofPlayers  TotalCount
Gender
Female                             14.06%          81
Male                               84.03%         484
Other / Non-Disclosed               1.91%          11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
#PurchasingAnalysis(Gender)

df6 = df.groupby(["Gender"])


df7 = df6["SN"].count()

df8 = df6["Price"].mean()

df9 = df6["Price"].sum()

df10 = df.drop_duplicates(subset='SN', keep="first")
df11 = df10.groupby(["Gender"])


df12 = (df6["Price"].sum() / df11["SN"].count())


purchasingAnalysisdf = pd.DataFrame({"PurchaseCount": df7,
                              "AvgPurchasePrice":df8,
                              "TotalPurchaseValue": df9,
                              "NormalizedTotals": df12})

purchasingAnalysisdf["AvgPurchasePrice"] = PurchasingAnalysisdf["AvgPurchasePrice"].map("${:.2f}".format)
purchasingAnalysisdf["TotalPurchaseValue"] = PurchasingAnalysisdf["TotalPurchaseValue"].map("${:.2f}".format)
purchasingAnalysisdf["NormalizedTotals"] = PurchasingAnalysisdf["NormalizedTotals"].map("${:.2f}".format)
purchasingAnalysisdf = PurchasingAnalysisdf[["PurchaseCount", "AvgPurchasePrice", "TotalPurchaseValue", "NormalizedTotals"]]
purchasingAnalysisdf

,PurchaseCount,AvgPurchasePrice,TotalPurchaseValue,NormalizedTotals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [117]:

#Age Demographics

bins = [0,10,15,20,25,30,35,40,200]
df122=['<10','10-14','15-19','20-24','25-29','30-34','35-39','>40']

df13=df.loc[:,["SN","Age"]]
df13["Age Ranges"] = pd.cut(df13["Age"], bins, labels=df122)
df13

df14 = df13["Age Ranges"].value_counts()
df15 = (df14 / df1 * 100).round(2)


ageDemographics = {
                    "Percentage of Players": df15, " Total": df14
                    }


ageDemographicsdf = pd.DataFrame(ageDemographics)
ageDemographicsdf
ageDemographicsdf.sort_index()

        Total  Percentage of Players
<10        32                   5.56
10-14      54                   9.38
15-19     200                  34.72
20-24     325                  56.42
25-29      77                  13.37
30-34      52                   9.03
35-39      33                   5.73
>40         7                   1.22

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
#Top Spenders
    
df20 = df['Item ID'].groupby(df['SN']).count()
df20
 
df21= pd.DataFrame(df20)
df21.columns = ['PurchaseCount']
df21

df21['AvgPurchasePrice'] = round(df['Price'].groupby(df['SN']).mean(),2)
df21

df21['TotalPurchaseValue'] = df['Price'].groupby(df['SN']).sum()
df21

df21.sort_values(by=['TotalPurchaseValue'], ascending=False, inplace=True)
df21


df21['AvgPurchasePrice'] = df21['AvgPurchasePrice'].map('${:,.2f}'.format)
df21

df21['TotalPurchaseValue'] = df21['TotalPurchaseValue'].map('${:,.2f}'.format)

df21.head()

             PurchaseCount AvgPurchasePrice TotalPurchaseValue
SN
Lisosia93                5            $3.79             $18.96
Idastidru52              4            $3.86             $15.45
Chamjask73               3            $4.61             $13.83
Iral74                   4            $3.40             $13.62
Iskadarya95              3            $4.37             $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [112]:
#Most Popular Items
 
df30 = df.groupby(["SN"])
df31 = df30.count()["Price"]
df32 = df30.mean()["Price"].map("${0:,.2f}".format)
df33 = df30.sum()["Price"].map("${0:,.2f}".format)

MostPopularItems = {
                         "PurchaseCount": df31,
                         "AvgPurchasePrice": df32,
                         "TotalPurchaseValue": df33
         }
mostPopularItemsdf=pd.DataFrame(MostPopularItems)


mostPopularItemsdf= MostPopularItemsdf.sort_values("PurchaseCount", ascending=False).round(2) .head()

mostPopularItemsdf

            AvgPurchasePrice  PurchaseCount TotalPurchaseValue
SN
Lisosia93              $3.79              5             $18.96
Iral74                 $3.40              4             $13.62
Idastidru52            $3.86              4             $15.45
Asur53                 $2.48              3              $7.44
Inguron55              $3.70              3             $11.11

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [116]:
#Most Profitable Items


df34 =df.groupby(["Item ID", "Item Name"])
df35 = df34["Gender"].count()
df36 = df34["Price"].sum()
df37 = (df36 / df35)


mostProfitableItemsdf = pd.DataFrame({"PurchaseCount": groupedItemC,
                          "ItemPrice": groupedItemP,
                          "TotalPurchaseValue": groupedSum})

mostProfitableItemsdf = mostProfitableItemsdf.sort_values("TotalPurchaseValue", ascending=False) 
mostProfitableItemsdf["ItemPrice"] = mostProfitableItemsdf["ItemPrice"].map("${:.2f}".format)
mostProfitableItemsdf["TotalPurchaseValue"] = mostProfitableItemsdf["TotalPurchaseValue"].map("${:.2f}".format)
mostProfitableItemsdf = mostProfitableItemsdf[["PurchaseCount", "ItemPrice", "TotalPurchaseValue"]]
mostProfitableItemsdf.head()

,,PurchaseCount,ItemPrice,TotalPurchaseValue
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80